/*mesternagy*/

body{
 background: #000;
 font-family:Arial,Verdana,Helvetica,sans-serif;
 margin-top: 0;
 text-align: center;
 font-size: 9pt;
 color: #333;
}

* {margin: 0px; padding: 0px;}

DIV{
  -moz-box-sizing:border-box;box-sizing:border-box;
  -webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;
}
a {
outline: none;
}

/*fejlec alatti rész a láblécig*/
.whole{
 width: 892px;
 margin: 0 auto;
 text-align: left;
 overflow: auto;
 background: #fff;
 background: url('images/back2.jpg') repeat-y;
}
/*fejlec*/
.head{
 height: 197px;
 width: 892px;
 margin: 0 auto;
 background: url('images/logo.jpg') no-repeat;
 text-align: right;
 }
.head h1, .head h3{
 visibility:hidden;
}
/*lábléc*/
.foot{
 width: 892px;
 text-align: right;
 background: #666;
 margin: 0 auto;
 height: 40px;
 padding: 3px;
 color: #333;
 }
 
/*baloldal margin: top right bottom left*/ 
.left{
 float: left;
 width: 200px;
 margin: 0 3px 0 0;
 }
/*jobboldal*/  
.right{
 float: right;
 width: 160px;
 background: url('images/background.jpg') right top no-repeat;
 height: 642px;
 }
/*középsõ rész*/ 
.center{
overflow: auto;
background: url('images/background.jpg') no-repeat;
min-height: 642px;
padding: 5px;
 }
 
 /*jobb-, baloldali (általános, legtöbbször..., refer., belépés...) keretek fejléce (itt a középsõké is)*/ 
.wf, .wf_main{
}

.wf_in, .wf_in_2lines, .wf_main_in{
 color:black;
 padding:5px 0;
 font-weight: bold;
 text-transform: uppercase;
 font-size: 11px;
 letter-spacing: 1px;
 text-align: center;
}
.wf_main_in span {
}

/*menupontok kerete*/
.mainmenu1{
width: 200px;
}

/*termék rövid bemutatóablaka*/
.termek_rovid, .termek_kosar{
 border-bottom: 1px solid silver;
 overflow: auto;
 margin-bottom: 10px;
}


.hir_lista, .hir_tartalom, .menu_tartalom{
 margin: 10px 0 10px 0;
}

.hir_lista{
 overflow: auto;
}



.main_container{
padding: 5px;
}


.menu_tartalom, .foold_szoveg, .hir_lista , .term_lista p{
padding: 5px; 
}

.linktartalom{
overflow: auto;
margin: 
}

.linktartalom p.szoveg_bold{
margin: 0 0 10px 0;
}


.linkbox{
margin: 0 0 30px 40px;
overflow: auto;
}

.hlink{
height: 84px;
width: 230px;
float: left;
border: 1px solid #ccc;
background: #cceecc;
line-height: 80px;
margin: 0 3px 3px 0;
padding: 2px;
}

.hlink img{
 vertical-align: middle;
 border: 1px solid white;
 margin: 0 3px 0 0;

}
.hlink a{
 margin: 0 0 0 3px;
 color:#666;
}

.linktartalom p.szoveg_bold{
margin: 5px 15px;
}

.termek_adat{
width: 490px;
}

.termek_adat div.termek_kis{
margin:20px 0 0 0;
}

.termek_r_w{}
.search_w{}
.leg_w{}
.partner_be_w{}
.hir_lista_w{}
.menu_tartalom_w, .hir_w, .hirdoboz,
.tema_lista_w, .tema_w{
padding: 5px;
}
.foold_w{}
.hirmini{}

.hirdoboz_hir{
margin: 0 0 5px 0;
border-bottom: 1px solid silver;
padding: 0 0 5px 0;
}


/*menupontok - alap- és már megnyomott helyzet*/ 
a.menu1:link, a.menu1:visited {
	display: block;
	vertical-align: middle !important;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background: #666;
	color: #fff !important;
	padding-bottom: 1px !important;
	padding-top: 7px !important;
	height: 22px !important;
	border-bottom: 1px solid black !important;
}
/*menupontok - egérrel fölötte*/ 
a.menu1:hover {
	color: #333 !important;
	background: #FC7D32 no-repeat !important;
}
/*menupontok - éppen kiválasztott*/ 
a.menu1#active_menu {
	background: #7f54aa none !important;
	background-color: #7f54aa !important;
	background-image: none !important;
	padding-left: 5px !important;
	color: #400080 !important;
}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu1#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

.mainmenu2{
 
 padding: 5px 0 5px 0;
 overflow: auto;
 margin: 0 auto;
 text-align: center;
 background-color: #333 !important;
 }

/*menu2*/ 
a.menu2 span {
	outline: none;
}

a.menu2:link, a.menu2:visited {
	color: #fff !important;
	height: auto !important;
	text-transform: uppercase;
	vertical-align: middle !important;
	font-size: 11px;
	text-decoration: none;
	outline: none;
	padding: 3px 5px;
}
/*menupontok - egérrel fölötte*/ 
a.menu2:hover {
	color: #C18700 !important;
}

a.menu2:hover span {

}
	

/*menupontok - éppen kiválasztott*/ 
a.menu2#active_menu {
}

/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu2#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

/*menupontok kerete*/
.mainmenu3{
 margin-bottom: 10px;
}
a.menu3:link, a.menu3:visited {
	color: #feb000;
	padding: 5px 3px 5px 20px;;
	height: auto;
	display: block;
	vertical-align: middle;
	font-size: 14px;
	width: auto;
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
	margin-left: 1px;
	text-align: left;
}
/*menupontok - egérrel fölötte*/ 
a.menu3:hover {
	color: #fff;
	background: url('images/menu3_bg.jpg')no-repeat;
}
/*menupontok - éppen kiválasztott*/ 
a.menu3#active_menu {
	background: #7f54aa none !important;
	background-color: #7f54aa !important;
	background-image: none !important;
	padding-left: 5px !important;
	color: #400080 !important;
}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu3#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}


/*leglegleg keret*/ 
.leg, .search, .ref{
 margin-bottom: 10px;
 padding-left: 10px;
 width: 150px;
}
.ref img{
 border: 1px solid #ccc;
 margin: 5px 0 2px 0;
}
/*cuuccok amiket középre rendeztünk*/
.nyelv, .bej_reg, .lapozo, .lapozo2, .link , .bej_adataim{
 text-align: center;
 margin-bottom: 10px;
}

 .fillinform, .fif_butt{
 margin: 0 auto;
 text-align: right;
 width: 215px;
 }
 
/*keresõ margin: top right bottom left*/
.search, .stat, .valuta{
 margin: 0 0 10px 0;
 text-align: center;
}
/*azonosító, jelszó margin: top right bottom left*/
.az_jel {
 text-align: right;
}

.az_jel input.general_input_part{
margin: 0 10px 2px 0;
}


/*a lap tetejére*/
.tetejere, .forras{
 text-align: right;
 padding: 10px;
}

.tetejere{
 width: 892px;
 margin: 0 auto;
 text-align: right;
 overflow: auto;
 background: url('images/back2.jpg');
}

/*a képek általában, hogy ne legyen kerete a hivatkozás miatt*/
img{
 border: none;}
 
/*kis termékképek */
.termek_rovidle_container {
float: left;
margin: 0 5px 5px 0;
}

.termek_rovidle_img{
 width: 150px;
 height: 140px;
 line-height: 136px;
 border: 1px solid #ccc;
 text-align: center;
 background: #eeeeee;
 color: #fff;
}

.termek_rovidle_noimg {
display:none;
}

img.rovidle{
vertical-align:middle;
margin-right: -2px;
}

.termek_kis{

}

.termek_kis img, img.termek_kis_rovid{
 vertical-align: text-top;
 float: left;
 margin: 0 5px 3px 3px;;
}

/*kis hírképek */
img.hir{
 vertical-align: text-top;
 float: left;
 margin: 0px 5px 0px 0px;
 border: 1px solid gray;
}
/*kedvencek, kosár kép*/
.fav_cart{
float: right;
margin: 10px 0 0 10px;
}

.favorite, .cart{
float: right;
margin: 0 5px 0 0;
}

.question{
display: none;
}

/*menupont tartalom képek divje*/
.menup_kep{
text-align: center;
}

/*menupont tartalom képek*/
.menup_kep img{
max-width: 450px;
}
/*linktár képek*/
.link_kep{
vertical-align: middle;
margin: 0 5px 3px 0;
}
/*termék neve link*/
.termek_link a{
 font-weight: bold;
 color: #000;
 font-size: 11pt;
} 

.termek_link a:hover{
 font-weight: bold;
 color: #C18700;
} 

a, a.link_bold{
 text-decoration: none;
 color: #666;
 }
/*egyéb, nem terméknév link, ami bold*/
a.link_bold{
 font-weight: bold;
}

.hircim_lapozo{
 font-weight: bold;
 padding: 0;
 color: #333;
}


a:hover, a.link_bold:hover, a.termek_link:hover{
 color: #C18700;
 }
 /*termékcsoport lista*/
 .termcsop_kep{
 vertical-align:middle;
 margin: 0 0 5px 0;
 }
 
 a.almenu{
 font-family: arial;
 font-size: 12px;
 color: #064463;
 text-transform: uppercase;
 line-height: 150%;
 margin: 0 0 0 20px;
 }
 
 a.almenu:hover{
 color: #C18700;
 }
/*megjegyzés, bõvebben, cikkszám*/
.megjegyzes, .forras{
font-size: 9px;
color: #666;
}

.megjegyzes a:hover{
color: #C18700;
}

.megjegyzes2{
margin:0 0 0 100px;
}

.termcsop_nav{
font-size: 10pt;
font-weight: bold;
padding: 5px 0 0 0px;
}
.termcsop_nav a{
color:#333;
}

.termcsop_nav a:hover{
color:#666;
}

.cim{
font-size: 12pt;
font-weight: bold;
padding: 5px 0 10px 0px;
}

.termek_cim{
font-size: 12pt;
font-weight: bold;
}
.termek_cim2{
font-size: 10pt;
font-weight: bold;
padding: 0 0 0 10px;
}

.lead, .termekleiras p{

}
.termekleiras{
padding: 20px 5px 20px 5px;
}

.szoveg_bold{
font-weight: bold;
}
.stat_no{
 font-weight: bold;
 font-size: 12pt;
 background: #fff;
 padding: 3px 10px;
 color: #000;
}

/*kitöltõmezõk*/ 
.general_input, .general_input_part{
 font-family: arial;
 font-size: 9pt;
 border: 1px solid gray;
 border-bottom: 1px solid silver;
 border-right: 1px solid silver;
 background-color: #F2F2F2;
 margin-bottom: 3px;
 }
/*submit gombok*/
.general_button{
 font-family: arial;
 font-size: 8pt;
 color: black;
 color: #333
}

.error_input {
	font-family: arial;
	font-size: 9pt;
	border: 1px solid gray;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	background-color: red;
}

.keszlet {

font-weight: bold;

}

.termek_rovid div.keszlet {
margin: 10px 0 10px 15px;
}


.ar {
float: right;
margin: 0 0 10px 10px;
padding: 5px;
font-size: 10pt;
line-height: 200%;
font-weight: bold;
clear: right;
}

.ar_n {
color: #333;
}

.ar_b {
font-size: 11pt;
color: #000;
}

.szum_ar {
text-align: left;
background: #eeeeee;
padding: 5px;
font-size: 11pt;
font-weight: bold;
border: 1px solid silver;
border-left: 150px solid silver;
margin: 0 0 10px 0px;
}

.szum_ar_n {
color: #333;
}

.szum_ar_b {
font-size: 12pt;
color: #009900;
}

.termek_galeria {
text-align: center;
width: 100%;
margin: 0 auto;
overflow: auto;
}

.termek_galeria img{
margin: 3px 3px 0 0;
}

.documents, .termektulajdonsag {
padding: 10px;
}

.documents li, .termektulajdonsag li{
list-style-type: none;
}

.blind_c {
 width: 25px;
 padding: 0px 5px 2px 0;
 height: 25px;
 float:right;
}
.blind_c img{
 float:right;
}

.lapozo{
height: 20px;
clear: both;
margin: 0 0 30px 0;
}

.reklam{
text-align: center;
padding: 0 0 20px 0;
}
.reklam img{
max-width: 155px;
margin: 0 0 10px 0;
}

.kalkulator{
margin: 0 auto;
}

.table p.megjegyzes {
text-align:center;
}

table.kosaradat{
margin: 40px 0 20px 100px;
}

.paypal{
background: url('images/paypal.jpg');
width: 80px;
height: 48px;
border: none;
cursor: pointer;
position: relative;
left: 260px;
top: -49px;
}

.name_date{
display: none;
}

.commentlist{
clear:right;
}