/*pti*/

body{
 background: #E3EDF7 url;
 font-family:Arial,Verdana,Helvetica,sans-serif;
 margin-top: 0;
 text-align: center;
 font-size: 9pt;
 color:#333;
}
* {margin: 0px; padding: 0px;}

DIV{
  -moz-box-sizing:border-box;box-sizing:border-box;
  -webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;
}
a {
outline: none;
}

/*fejlec alatti rész a láblécig*/
.whole{
 width: 1000px;
 text-align: left;
 overflow: auto;
 margin: 0 auto;
 border-right: 8px solid #2975A5;
 border-left: 8px solid #2975A5;
}
/*fejlec*/
.head{
 height: 50px;
 width: 1000px;
 margin: 0 auto;
 background: url('images/logo.png') no-repeat;
 text-align: left;
 border-right: 8px solid #2975A5;
 border-left: 8px solid #2975A5;
 }
 
 .head h1, .head h3{
visibility:hidden;
}


 
 .content{
 margin: 0;
 min-height:500px;
 }
/*lábléc*/
.foot{
 width: 1000px;
 text-align: left;
 background: url('images/top_table.png') repeat-x ;
 height: 40px;
 color: #fff;
 padding: 10px;
 margin: 0 auto;
 }
/*baloldal margin: top right bottom left*/ 
.left{
 float: left;
 width: 175px;
 margin: 0 3px 0 0px;
 }
/*jobboldal*/  
.right{
 float: right;
 width: 160px;
 background: #E9ECEE;
 height: 100%;
 }
/*középsõ rész*/ 
.center{
overflow: auto;
padding: ;

 }
 /*jobb-, baloldali (általános, legtöbbször..., refer., belépés...) keretek fejléce (itt a középsõké is)*/ 
 
 
.wf {
 background: url('images/wf.jpg');
 height:34px;
 overflow:hidden;
 padding: 1px 0 0 0;
}
 .wf_in {
 color:#000;
 padding: 8px 0px 0px 5px;
 font-weight: bold;
 font-size: 13px;
 letter-spacing: 2px;
 text-align: left;
 }

.wf_in span {
padding: 7px 6px 0px 4px;
}

.wf_2lines{
 background: url('images/wf.jpg');
 height:34px;
 overflow:hidden;
 padding: 1px 0 0 0;
}

.wf_in_2lines{
 color:#000;
 padding: 1px 0px 0px 5px;
 font-weight: bold;
 font-size: 13px;
 letter-spacing: 2px;
 text-align: left;
}

.wf_main{
height:21px;
overflow:hidden;
padding: 1px 0 0 0;
}
 .wf_main_in{
 padding: 3px 0 0 5px;
 font-weight: bold;
 font-size: 13px;
 letter-spacing: 1px;
 background: url('images/wf_m.jpg') no-repeat top left;
 text-align: left;
}

.wf_main_in span {
background: url('images/wf_m2.jpg') no-repeat top right;
padding: 4px 5px 0px 4px;
}
/*menupontok kerete*/
.mainmenu1{
 margin: 0px;
 background: url('images/bg_ul.png') repeat-y;
}


/*termék rövid bemutatóablaka*/
.termek_rovid, .termek_kosar{
 border-bottom: 2px solid #2975A5;
 overflow: auto;
 margin-bottom: 10px;
 background: #E9ECEE;
 padding: 2px;
}

.hir_lista, .hir_tartalom{
 margin: 10px 0 10px 0;
 padding:10px;
}

.hir_lista{
 overflow: auto;
 background: #e2e2e2
}

.main_container{

}

.main_container p{
padding: 10px;
}


.menu_tartalom, .hir_lista_w, .tema_lista_w,
.term_lista, .term_lista p,
.linktartalom, .tema_w{
padding: 0 5px 10px 5px; 
}

.termek_kosar input.general_button{

}
.linktartalom{
overflow: auto;
margin: 
}

.linktartalom p.szoveg_bold{
margin: 0 0 10px 0;
}


.linkbox{
margin: 0 0 30px 40px;
overflow: auto;
}

.hlink{
height: 84px;
width: 230px;
float: left;
border: 1px solid #ccc;
background: #e2e2e2;
line-height: 80px;
margin: 0 3px 3px 0;
padding: 2px;
}

.hlink img{
 vertical-align: middle;
 border: 1px solid white;
 margin: 0 3px 0 0;

}
.hlink a{
 margin: 0 0 0 3px;
}

.linktartalom p{
margin: 9px 0;
}

.termek_adat{
width: 540px;
}

.termek_r_w{}
.search_w{
margin: 0;}
.leg_w{}
.partner_be_w, .termek_ajanlo{
margin: 0 0 10px 0;}
}
.hir_lista_w{

}
.hir_w{}
.menup_tartalom_w{}
.foold_w{
margin: 0 0 10px 0;}


.foold_w div.main_container{
}

.hirmini{
margin: 0px 0 10px 0;}

/*menupontok - alap- és már megnyomott helyzet*/ 
a.menu1:link, a.menu1:visited {
	color: #333 !important;
	padding: 3px !important;
	padding: 10px !important;
	height: auto !important;
	text-transform: uppercase;
	display: block;
	vertical-align: middle !important;
	font-size: 11px;
	width: auto;
	text-decoration: none;
	font-family: arial;
	border-bottom: 1px solid #ccc; 
}
/*menupontok - egérrel fölötte*/ 
a.menu1:hover {
	color: #000 !important;
	background: url('images/bg_tab-active.png');
}
/*menupontok - éppen kiválasztott*/ 
a.menu1#active_menu {
	background: #7f54aa none !important;
	background-color: #7f54aa !important;
	background-image: none !important;
	padding-left: 5px !important;
	color: #400080 !important;
}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu1#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

.mainmenu2{
 width: 1000px;
 background: url('images/topmenu_bg.jpg') repeat-x bottom;
 border-bottom: 1px solid #8C8C8C;
 padding: 8px 0 0 0;
 margin: 0;
 overflow: auto;
 height:35px;
 }

/*menu2*/ 
a.menu2 span{
	background: none;
	padding:  11px 10px 10px 5px;
	outline: none;
}

a.menu2:link, a.menu2:visited {
	background: none;
	color: #333 !important;
	height: auto !important;
	vertical-align: middle !important;
	font-size: 11px;
	text-decoration: none;
	padding: 11px 10px 10px 5px;
	outline: none;
	font-weight: bold;
}
/*menupontok - egérrel fölötte*/ 
a.menu2:hover {
	color: #FFF !important;
	background: url('images/topmenu_left.jpg') no-repeat top left !important;
}

a.menu2:hover span {
	background: url('images/topmenu_right.jpg') no-repeat right top;
}
	

/*menupontok - éppen kiválasztott*/ 
a.menu2#active_menu {

}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu2#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

/*leglegleg keret*/ 
.leg, .search, .ref, .valuta, .stat, .hirdoboz{
 margin-bottom: 10px;
 padding: 5px;
}

.ref img{
 border: 1px solid #ccc;
 margin: 5px 0 2px 0;
}


/*cuuccok amiket középre rendeztünk*/
.nyelv, .bej_reg, .lapozo, .lapozo2, .link , .bej_adataim, .stat{
 text-align: center;
 margin-bottom: 10px;
}
.inkasszo{
margin: 40px;
}

.partner_adat_w p.megjegyzes{
margin: 0 0 0 40px;
}
 
/*keresõ margin: top right bottom left*/
.search{
 margin: 0;
 text-align: center;
}
/*azonosító, jelszó margin: top right bottom left*/
.az_jel {
 background:url('images/back.jpg') repeat-x top;
 text-align: right;
 padding: 10px 0 0 0;
}
.az_jel form{
margin: 0 10px 0 0;
color: #333;
}

form a.link_bold{
color: #333;
}

/*a lap tetejére*/
.tetejere, .forras{
 text-align: right;
 padding-right: 10px;
}

.tetejere{
 width: 1000px;
 text-align: right;
 overflow: auto;
 background: #fff;
 border-right: 8px solid #2975A5;
 border-left: 8px solid #2975A5;
 margin: 0 auto;
}

/*a képek általában, hogy ne legyen kerete a hivatkozás miatt*/
img{
 border: none;}
 
/*kis termékképek */
.termek_rovidle_container {
 width: 150px;
 height: 110px;
 line-height: 106px;
 float: left;
 border: 1px solid #ccc;
 text-align: center;
 background: #fff;
 margin: 0 5px 5px 0;
}

img.rovidle, img.rovidle_no {
vertical-align:middle;
margin-right: -2px;
border:1px solid #ccc;
}

.termek_kis{

}

.termek_kis img, img.termek_kis_rovid{
 vertical-align: text-top;
 float: left;
 margin: 0 5px 3px 3px;
 border: 2px solid #2975A5;
}

/*kis hírképek */
img.hir{
 vertical-align: text-top;
 float: left;
 margin: 0px 5px 0px 0px;
 border: 1px solid gray;
/* width: 100px;
 height: 130px;*/
}
/*kedvencek kép*/
.fav_cart{
float: right;
clear:right;
}

.favorite, .cart{
float: right;
margin: 0 5px 0 0;
}

.question{
display: none;
}

.termek_rovid div.fav_cart{
float: right;
margin: 0 5px 0 0;
}

/*menupont tartalom képek divje*/
.menup_kep{
text-align: center;
}

/*menupont tartalom képek*/
.menup_kep img{
max-width: 500px;
}

/*linktár képek*/
.link_kep{

}
/*termék neve link*/
.termek_link{
 font-weight: bold;
 font-size: 11pt;
 color: #333;
} 

a, a.link_bold{
 text-decoration: none;
 color: #333;
 }
 
 .termek_link a:hover{
 color: #2975A5;
 }
 
 a.button{
	background: url('images/button.png') no-repeat top left !important;
	color: #333 !important;
	text-transform: uppercase;
	vertical-align: middle !important;
	font-size: 11px;
	text-decoration: none;
	outline: none;
	padding:5px 0px 7px 8px;
	height:28px;
	overflow: auto;
 }
 
 a.button:hover{
	background: url('images/button.png') no-repeat bottom left !important;
	color: #2975A5 !important;
	padding:5px 0px 7px 8px;
 }
 
 a.button span{
 	background: url('images/button2.png') no-repeat top right !important;
	padding: 5px 8px 7px 2px;
	outline: none;
	height:28px;
 }
 
 a.button span:hover{
 	background: url('images/button2.png') no-repeat bottom right !important;
 	padding: 5px 8px 7px 2px;
 }
 
 .dokum a.button{
 margin-left: 40px;
 }

/*egyéb, nem terméknév link, ami bold*/
a.link_bold{
 font-weight: bold;
}

.hircim_lapozo{
 font-weight: bold;
 font-size: 10pt;
 color: #333;
 text-transform: uppercase;
 line-height: 150%;
  
}

a:hover, a.link_bold:hover{
 color: #2975A5;
 }
 /*termékcsoport lista*/
 .termcsop_kep{
 vertical-align:middle;
 margin: 0 0 5px 0;
 }
 
 a.almenu{
 color: #333;
 font-size: 10pt;
 font-weight: bold;
 text-transform: uppercase;
 }
 
 a.almenu:hover{
 color: #FF6600;
 }
/*megjegyzés, bõvebben, cikkszám*/
.megjegyzes, .forras{
font-size: 9px;
color: orange;
}

.cim, .termcsop_nav{
font-size: 14pt;
font-weight: bold;

color: #333;
}


.termcsop_nav{
font-size: 10pt;
}

.termek_cim{
font-size: 12pt;
font-weight: bold;
border-bottom: 2px solid #2975A5;
margin: 10px 0 5px 5px;
}

.lead{
border-bottom: 1px solid silver;
}
.termekleiras{
padding: 10px;
}

.szoveg_bold{
font-weight: bold;
}
.stat{
 background: #efefef;
 padding: 10px;
}

.stat_no{
 font-weight: bold;
 font-size: 12pt;
 background: #fff;
 padding: 3px 10px;
 color: #000;
}

/*kitöltõmezõk*/ 
.general_input_part{

}

.general_input, .general_input_part{
 font-family: arial;
 font-size: 9pt;
 border: 1px solid gray;
 border-bottom: 1px solid silver;
 border-right: 1px solid silver;
 background-color: #F2F2F2;
 margin-bottom: 3px;
 }
/*submit gombok*/
.general_button{
 font-family: arial;
 font-size: 8pt;
 color: black;
 color: #333
}

.error_input {
	font-family: arial;
	font-size: 9pt;
	border: 1px solid gray;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	background-color: red;
}

.keszlet {
float: right;
margin: 10px 10px 10px 10px;
border: 1px solid #ff4000;
padding: 5px;
font-size: 10pt;
line-height: 150%;
font-weight: bold;
background: #e2e2e2;
text-align: center;
}

.termek_rovid div.keszlet {
float: right;
margin: 30px 0 10px 10px;
border: 1px solid #2975A5;
padding: 5px;
font-size: 10pt;
line-height: 150%;
font-weight: bold;
background: #e2e2e2;
text-align: center;
}

.ar {
float: right;
margin: 10px 0 10px 10px;
border: 1px solid #2975A5;
padding: 5px;
font-size: 10pt;
line-height: 150%;
font-weight: bold;
background: #e2e2e2;
text-align: right;
}


.termek_rovid div.ar {
float: right;
margin: 30px 0 10px 10px;
border: 1px solid #2975A5;
padding: 5px;
font-size: 10pt;
line-height: 150%;
font-weight: bold;
background: #e2e2e2;
text-align: right;
clear: right;
}

.ar_n{
color: #333;
}

.ar_b{
color: #2975A5;
}

.szum_ar_n {
color: #333;
}

.szum_ar_b {
font-size: 12pt;
color: #2975A5;
}

.szum_ar{
background: #ccc;
width: 310px;
margin: 0 0 30px 0;
text-align: right;
padding: 2px;
}

table.kalkulator, table.kosaradat{
margin-left: 40px
}

table.kosaradat{

margin: 40px 0 20px 40px;
}

table.kalkulator td, table.kosaradat td{
border: 1px solid white;
padding: 3px;
}

.termek_galeria {
text-align: center;
width: 100%;
margin: 0 auto;
overflow: auto;
}

.termek_galeria img{
margin: 3px 3px 0 0;
border: 1px solid #ccc;
}

.documents, .termektulajdonsag {
padding: 10px;
}

.documents li, .termektulajdonsag li{
list-style-type: none;
}
div.blind {
 height: 35px;
 width: 100%;
 padding: 5px;
 border-bottom: 3px solid #666;
 background: #2975A5;
}

div.blind img{
 height: 20px;
 width: 20px;
}

.blind_c {
 padding: 2px 0 1px 5px;
 outline: none;
 float:right;
}

.error{
color: red;
padding-left: 5px;
}

.reklam{
text-align: center;
padding: 0 0 20px 0;
}
.reklam img{
max-width: 155px;
margin: 0 0 10px 0;
}

.paypal{
background: url('images/paypal.jpg');
width: 80px;
height: 48px;
border: none;
cursor: pointer;
position: relative;
left: 210px;
top: -57px;
}

.name_date{
display: none;
}
