/*nodesign*/

body{
 background: #e2e2e2;
 font-family:Arial,Verdana,Helvetica,sans-serif;
 margin-top: 0;
 text-align: center;
 font-size: 9pt;
 color: #333;
}

* {margin: 0px; padding: 0px;}

DIV{
  -moz-box-sizing:border-box;box-sizing:border-box;
  -webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;
}
a {
outline: none;
}

/*fejlec alatti rész a láblécig*/
.whole{
 width: 900px;
 margin: 0 auto;
 text-align: left;
 overflow: auto;
 background: #fff;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}
/*fejlec*/
.head{
 height: 200px;
 width: 900px;
 margin: 0 auto;
 background: url('images/logo.jpg') no-repeat;
 text-align: right;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
 }
.head h1, .head h3{
 visibility:hidden;
}
/*lábléc*/
.foot{
 width: 900px;
 text-align: right;
 background: url('images/foot.jpg') repeat-x;
 margin: 0 auto;
 height: 64px;
 }
/*baloldal margin: top right bottom left*/ 
.left{
 float: left;
 width: 157px;
 margin: 0 3px 0 5px;
 padding: 0 0px 0 5px;
 }
/*jobboldal*/  
.right{
 float: right;
 width: 160px;
 }
/*középsõ rész*/ 
.center{
overflow: auto;
 }
 /*jobb-, baloldali (általános, legtöbbször..., refer., belépés...) keretek fejléce (itt a középsõké is)*/ 
.wf, .wf_main{
}

.wf_in, .wf_in_2lines, .wf_main_in{
 color:#000;
 padding:5px 0;
 font-weight: bold;
 text-transform: uppercase;
 font-size: 11px;
 letter-spacing: 1px;
 text-align: center;
}
.wf_main_in span {
}

/*menupontok kerete*/
.mainmenu1{

}
/*termék rövid bemutatóablaka*/
.termek_rovid{
 border-bottom: 1px solid silver;
 overflow: auto;
 margin-bottom: 10px;
}
.termek_rovid p{
 color: #fff;
 padding:3px;
}


.hir_lista, .hir_tartalom, .menu_tartalom{
 width: 540px;
 margin: 10px 0 10px 0;
}

.hir_lista{
 overflow: auto;
}



.main_container{
padding: 5px;
}


.menu_tartalom, .foold_szoveg, .hir_lista , .term_lista p{
padding: 5px; 
}

.linktartalom{
overflow: auto;
margin: 
}

.linktartalom p.szoveg_bold{
margin: 0 0 10px 0;
}


.linkbox{
margin: 0 0 30px 40px;
overflow: auto;
}

.hlink{
height: 84px;
width: 230px;
float: left;
border: 1px solid #ccc;
background: #F4F2CB;
line-height: 80px;
margin: 0 3px 3px 0;
padding: 2px;
}

.hlink img{
 vertical-align: middle;
 border: 1px solid white;
 margin: 0 3px 0 0;

}
.hlink a{
 margin: 0 0 0 3px;
 color:#666;
}

.linktartalom p.szoveg_bold{
margin: 5px 15px;
}

.termek_adat{
width: 540px;
}

.termek_adat div.termek_kis{
margin:20px 0 0 0;
}

.termek_r_w{}
.search_w{}
.leg_w{}
.partner_be_w{}
.hir_lista_w{}
.menu_tartalom_w, .hir_w{
padding: 0 0 0 10px;
}
.foold_w{}
.hirmini{}

/*menupontok - alap- és már megnyomott helyzet*/ 
a.menu1:link, a.menu1:visited {
	color: #333 !important;
	padding: 3px !important;
	padding: 10px 5px 5px 20px!important;
	height: auto !important;
	display: block;
	vertical-align: middle !important;
	font-size: 13px;
	width: auto;
	text-decoration: none;
	font-family: arial;
	margin-left: 3px;
	border-bottom: ;
	}
	
/*menupontok - egérrel fölötte*/ 
a.menu1:hover {
	color: #8F0000 !important;
	background:  ;
	text-decoration: none;
	border-bottom:  ;
}
/*menupontok - éppen kiválasztott*/ 
a.menu1#active_menu {
	background: #7f54aa none !important;
	background-color: #7f54aa !important;
	background-image: none !important;
	padding-left: 5px !important;
	color: #400080 !important;
}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu1#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

.mainmenu2{
 width: 100%;
 padding: 2px 0 2px 0;
 overflow: auto;
 margin: 0 auto;
 text-align: center;
 }

/*menu2*/ 
a.menu2 span {
	outline: none;
}

a.menu2:link, a.menu2:visited {
	color: #333 !important;
	height: auto !important;
	text-transform: uppercase;
	vertical-align: middle !important;
	font-size: 11px;
	text-decoration: none;
	outline: none;
	padding: 0 5px 0 5px;
}
/*menupontok - egérrel fölötte*/ 
a.menu2:hover {
	color: #000 !important;
	text-decoration: underline;
}

a.menu2:hover span {

}
	

/*menupontok - éppen kiválasztott*/ 
a.menu2#active_menu {
}

/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu2#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

/*menupontok kerete*/
.mainmenu3{
 margin-bottom: 10px;
}
a.menu3:link, a.menu3:visited {
	color: #feb000;
	padding: 5px 3px 5px 20px;;
	height: auto;
	display: block;
	vertical-align: middle;
	font-size: 14px;
	width: auto;
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
	margin-left: 1px;
	text-align: left;
}
/*menupontok - egérrel fölötte*/ 
a.menu3:hover {
	color: #fff;
	background: ;
}
/*menupontok - éppen kiválasztott*/ 
a.menu3#active_menu {
	background: #7f54aa none !important;
	background-color: #7f54aa !important;
	background-image: none !important;
	padding-left: 5px !important;
	color: #400080 !important;
}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu3#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}


/*leglegleg keret*/ 
.leg, .search, .ref{
 margin-bottom: 10px;
 padding-left: 10px;
 width: 150px;
}
.ref img{
 border: 1px solid #ccc;
 margin: 5px 0 2px 0;
}
/*cuuccok amiket középre rendeztünk*/
.nyelv, .bej_reg, .lapozo, .lapozo2, .link , .bej_adataim{
 text-align: center;
 margin-bottom: 10px;
}

 .fillinform, .fif_butt{
 margin: 0 auto;
 text-align: right;
 width: 215px;
 }
 
/*keresõ margin: top right bottom left*/
.search{
 margin: 0 0 10px 0;
 text-align: center;
}
/*azonosító, jelszó margin: top right bottom left*/
.az_jel {
 text-align: right;
}

.az_jel input.general_input_part{
margin: 0 10px 2px 0;
}


/*a lap tetejére*/
.forras{
 text-align: right;
 padding: 10px;
}

.tetejere{
 width: 900px;
 margin: 0 auto;
 text-align: right;
 overflow: auto;
 background: #fff;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 padding:5px;
}

/*a képek általában, hogy ne legyen kerete a hivatkozás miatt*/
img{
 border: none;}
 
/*kis termékképek */
.termek_rovidle_container {
float: left;
margin: 1px 5px 5px 0;
}

.termek_rovidle_img{
 width: 150px;
 height: 140px;
 line-height: 136px;
 text-align: center;
 background: #fff;
 margin: 0 0px 5px 0;
 color: #fff;
 border: 1px solid #e2e2e2;
}

.termek_rovidle_noimg {
display:none;
}

img.rovidle{
vertical-align:middle;
margin-right: -2px;
}

.termek_kis{

}

.termek_kis img, img.termek_kis_rovid{
 vertical-align: text-top;
 float: left;
 margin: 0 5px 3px 3px;;
}

/*kis hírképek */
img.hir{
 vertical-align: text-top;
 float: left;
 margin: 0px 5px 0px 0px;
 border: 1px solid gray;
}
/*kedvencek, kosár kép*/
.fav_cart{
margin: 3px;

}

.favorite, .cart{
float: right;
margin: 0 5px 0 0;
}
.question{
display: none;
}

/*menupont tartalom képek divje*/
.menup_kep{
text-align: center;
}

/*menupont tartalom képek*/
.menup_kep img{
max-width: 500px;
}
/*linktár képek*/
.link_kep{
vertical-align: middle;
margin: 0 5px 3px 0;
}
/*termék neve link*/
.termek_link{
 font-family: arial;
 font-size: 13px;
 font-weight : bold;
 text-transform: uppercase;
 padding: 5px;
 background: ;
}
.termek_link a{
 font-weight: bold;
 color: #333;
} 

.termek_link a:hover{
 font-weight: bold;
 color: #666;
} 

a, a.link_bold{
 text-decoration: none;
 color: #999;
 }
/*egyéb, nem terméknév link, ami bold*/
a.link_bold{
 font-weight: bold;
}

.hircim_lapozo{
 font-weight: bold;
 padding: 0;
 color: #333;
}


a:hover, a.link_bold:hover, a.termek_link:hover{
 color: #990000;
 }
 /*termékcsoport lista*/
 .termcsop_kep{
 vertical-align:middle;
 margin: 0 0 5px 0;
 }
 
 a.almenu{
 font-size: 13px;
 color: #333;
 text-transform: uppercase;
 background: ;
 padding: 6px;
 height: auto;

 }
 
 a.almenu:hover{
 color: #999;
 background: ;
 padding: 6px;
 }
 
 .leg a{
 color: #666;
 background: ;
 vertical-align: middle;
 }
 
  .leg a:hover{
 color: #333;
 }
 
/*megjegyzés, bõvebben, cikkszám*/
.megjegyzes a, .forras{
font-size: 9px;
color: #666;
}

.megjegyzes a:hover{
color: #feb000;
}

.termcsop_nav{
font-size: 10pt;
font-weight: bold;
padding: 5px 0 0 10px;
}
.termcsop_nav a{
color:#333;
}

.termcsop_nav a:hover{
color:#666;
}

.cim{
font-size: 12pt;
font-weight: bold;
padding: 5px 0 0 0px;
}

.termek_cim{
font-size: 12pt;
font-weight: bold;
padding: 0 0 0 10px;
}
.termek_cim2{
font-size: 10pt;
font-weight: bold;
padding: 0 0 0 10px;
}

.lead, .termekleiras p{

}
.termekleiras{
padding: 20px 5px 20px 5px;
}

.szoveg_bold{
font-weight: bold;
}

/*kitöltõmezõk*/ 
.general_input, .general_input_part{
 font-family: arial;
 font-size: 9pt;
 border: 1px solid gray;
 border-bottom: 1px solid silver;
 border-right: 1px solid silver;
 background-color: #F2F2F2;
 margin-bottom: 3px;
 }
/*submit gombok*/
.general_button{
 font-family: arial;
 font-size: 8pt;
 color: black;
 color: #333
}

.error_input {
	font-family: arial;
	font-size: 9pt;
	border: 1px solid gray;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	background-color: red;
}

.ar {
float: right;
margin: 0 0 10px 10px;
padding: 5px;
font-size: 10pt;
line-height: 200%;
font-weight: bold;
clear: both;
}

.ar_n {
color: #333;
}

.ar_b {
color: #333;
}

.termek_galeria {
text-align: center;
width: 100%;
margin: 0 auto;
overflow: auto;
}

.termek_galeria img{
margin: 3px 3px 0 0;
}

.documents, .termektulajdonsag {
padding: 10px;
}

.documents li, .termektulajdonsag li{
list-style-type: none;
}

div.blind {
display:none;
}

div.blind img{

}

.blind_c {
 background: ;
 padding: 2px 0 1px 6px;
 outline: none;
 width: 33px;
 height: 24px;
}

.lapozo{
height: 20px;
clear: both;
}

.reklam{
text-align: center;
padding: 0 0 20px 0;
}
.reklam img{
max-width: 155px;
margin: 0 0 10px 0;
}