/*sprinter_d*/

body{
 background: #fff url('images/back.jpg') repeat-x 0 120px !important;
 font-family:Arial,Verdana,Helvetica,sans-serif;
 margin-top: 0;
 text-align: center;
 font-size: 9pt;
 color:#666;
}
* {margin: 0px; padding: 0px;}

DIV{
  -moz-box-sizing:border-box;box-sizing:border-box;
  -webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;
}
a {
outline: none;
}

/*fejlec alatti rész a láblécig*/
.whole{
 width: 988px;
 margin: 0 auto;
 text-align: left;
 overflow: auto;
}
/*fejlec*/
.head{
 height: 120px;
 width: 988px;
 margin: 0 auto;
 background: url('images/logo.jpg') no-repeat;
 text-align: left;
 padding: 30px 0 0 50px;
 }
.head h1, .head h3{
 visibility:visible;
 font-family: verdana;
 color: #A6CE3A;
 line-height: 200%;
}
 
.head h3{
font-size: 14pt;
}
 .content{
margin: 0;
 }
/*lábléc*/
.foot{
 width: 100%;
 text-align: center;
 background: url('images/foot.jpg') repeat-x ;
 padding: 50px 0 0 0;
 height: 78px;
 margin:0 auto;
 }
/*baloldal margin: top right bottom left*/ 
.left{
 float: left;
 width: 175px;
 margin: 0 3px 0 3px;
 }
/*jobboldal*/  
.right{
 float: right;
 width: 160px;
 margin: 0 3px 0 3px;
 }
/*középsõ rész*/ 
.center{
overflow: auto;
min-height: 500px;
 }
 /*jobb-, baloldali (általános, legtöbbször..., refer., belépés...) keretek fejléce (itt a középsõké is)*/ 

.wf{
border-bottom: 2px solid #666;
height:21px;
overflow:hidden;
padding: 1px 0 0 0;
}
 .wf_in {
 color:#000;
 padding: 3px 0 0 5px;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 background: url('images/wf.gif') no-repeat top left;
 text-align: left;
}

.wf_2lines{
border-bottom: 2px solid #666;
background: url('images/wf2.gif') no-repeat top right;
}

.wf_in_2lines{
 color:#000;
 padding: 3px 0 0 10px;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 background: url('images/wf.gif') no-repeat top left;
 text-align: left;
}
.wf_in span {
background: url('images/wf2.gif') no-repeat top right;
padding: 4px 5px 0px 4px;
}

.wf_main{
border-bottom: 2px solid #b2b2b2;
height:21px;
overflow:hidden;
padding: 1px 0 0 0;

}
 .wf_main_in{
 color:#000;
 padding: 3px 0 0 5px;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 background: url('images/wf_m.gif') no-repeat top left;
 text-align: left;
}

.wf_main_in span {
background: url('images/wf_m2.gif') no-repeat top right;
padding: 3px 5px 0px 4px;
}

/*menupontok kerete*/
.mainmenu1{
 margin: 0 0 10px 0;
 border-bottom: 1px solid #666;
}


/*termék rövid bemutatóablaka*/
.termek_rovid, .termek_kosar{
 border-bottom: 1px solid silver;
 overflow: auto;
 margin-bottom: 10px;
 padding: 2px;

}

.kosarend{
text-align: center;
margin: 40px 0 0 0;
font-size: 11pt;
font-weight: bold;
}

.hir_lista, .hir_tartalom{
 margin: 10px 0 10px 0;
 padding:10px;
}

.hir_lista{
 overflow: auto;
}

.main_container{
border-bottom:1px solid #b2b2b2;
border-left:1px solid #b2b2b2;
border-right:1px solid #b2b2b2;
padding: 5px;
}

.menu_tartalom_w, .main_container, 
.hir_lista , .term_lista, 
.partner_adat_w{
padding: 5px; 
}

.term_lista{
padding-bottom: 40px; 
}

.tema_w {
padding: 19px 5px 0 5px;
}

.partner_adat_w table{
margin: 0 0 0 100px;
}

.termek_adat{
padding: 5px;
}

.termek_adat div.termek_kis{
margin:20px 0 0 0;
}

.termek_r_w{}
.search_w{}

.leg_w, .arfolyam{
 

}

.linktartalom p.szoveg_bold{
margin: 0 0 10px 0;
}

.linkbox{
margin: 0 0 30px 40px;
overflow: auto;
}

.hlink{
margin: 0 3px 3px 0;
padding: 2px;
}

.hlink img{
 vertical-align: middle;
 border: 1px solid #ccc;
 margin: 0 3px 0 0;
}
.hlink a{
 margin: 0 0 0 3px;
}

.linktartalom p{
margin: 9px 0;
}

.termek_adat{

}

.termek_r_w{}
.search_w{
margin: 0 0 10px 0;}
.leg_w{}
.partner_be_w, .termek_ajanlo{
margin: 0 0 10px 0;}
}
.hir_lista_w{
margin: 0 0 10px 0;}
}
.hir_w{}
.menup_tartalom_w{}
.foold_w{
margin: 0 0 10px 0;}

.foold_w div.main_container{
background: #EBF9D2;
}
.hirmini{
margin:0 0 5px 0;
}

.hirdoboz_hir{
margin: 0 0 5px 0;
border-bottom: 1px solid silver;
padding: 0 0 5px 0;
}


/*menupontok - alap- és már megnyomott helyzet*/ 
a.menu1:link, a.menu1:visited {
	background: #EBF9D2!important;
	color: #333 !important;
	padding: 5px !important;
	height: auto !important;
	display: block;
	vertical-align: middle !important;
	font-size: 12px;
	width: auto;
	text-decoration: none;
	font-family: arial;
	border-left: 10px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px dashed #fff; 
}
/*menupontok - egérrel fölötte*/ 
a.menu1:hover {
	color: #000 !important;
	background: #D9EA9B !important;
	text-decoration: none;
	border-left: 15px solid #999;

}
/*menupontok - éppen kiválasztott*/ 
a.menu1#active_menu {
	background: #7f54aa none !important;
	background-color: #7f54aa !important;
	background-image: none !important;
	padding-left: 5px !important;
	color: #400080 !important;
}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu1#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

.mainmenu2{
 margin: 0 auto;
 text-align: center;
 margin-top: 8px;
 margin-bottom: 10px;
 }

/*menu2*/ 
a.menu2 span {
	background: url('images/menu22.gif') no-repeat right top;
	padding: 5px 7px 7px 2px;
	outline: none;
	height:28px;
}

a.menu2:link, a.menu2:visited {
	background: url('images/menu2.gif') no-repeat top left !important;
	color: #333 !important;
	text-transform: uppercase;
	vertical-align: middle !important;
	font-size: 11px;
	text-decoration: none;
	outline: none;
	padding:5px 0px 7px 5px;
	height:28px;
	font-weight: bold;
}
/*menupontok - egérrel fölötte*/ 
a.menu2:hover {
	color: #fff !important;
	background: url('images/menu2.gif') no-repeat bottom left !important;

}

a.menu2:hover span {
	background: url('images/menu22.gif') no-repeat bottom right  !important;

}
	

/*menupontok - éppen kiválasztott*/ 
a.menu2#active_menu {

}
/*menupontok - éppen kiválasztott egérrel fölötte*/ 
a.menu2#active_menu:hover {
	background-color: #005500 !important;
	color: #400080 !important;
	background: #005500 none !important;
	background-image: none !important;
}

/*leglegleg keret*/ 
.leg, .search, .ref, .valuta, .stat, .hirdoboz{
 margin-bottom: 10px;
 padding: 10px;
 border-left: 1px solid #666;
 border-right: 1px solid #666;
 border-bottom: 1px solid #666;
}

.stat{
 background: #EBF9D2 ;
}

.ref img{
 border: 1px solid #ccc;
 margin: 5px 0 2px 0;
}
.leg a{
background: url('images/ball.gif') no-repeat 0 3px;
padding: 0 0 0 11px;
}

/*cuuccok amiket középre rendeztünk*/
.nyelv, .bej_reg, .lapozo, .lapozo2, .link , .inkasszo, .statdoboz_w{
 text-align: center;
 margin-bottom: 10px;
}

.inkasszo{
margin: 40px;
}

.partner_adat_w p.megjegyzes{
margin: 0 0 0 40px;
}
 
 
 
/*keresõ margin: top right bottom left*/
.search{
 margin: 0 0 10px 0;
 text-align: center;
}
/*azonosító, jelszó margin: top right bottom left*/
.az_jel {
 text-align: right;
 background: #EBF9D2 ;
 padding: 10px 0 10px 10px;
 border-left: 1px solid #666;
 border-right: 1px solid #666;
 border-bottom: 1px solid #666; 
}

.bej_adataim{
text-align: center;
}
.az_jel form{
margin: 0px 10px 0 0;
color: #666;
}

form a.link_bold{
color: #333;
}

/*a lap tetejére*/
.tetejere, .forras{
 text-align: right;
 padding-right: 10px;
}

.tetejere{
 width: 988px;
 margin: 0 auto;
 text-align: right;
 overflow: auto;
 background: #fff;
}

/*a képek általában, hogy ne legyen kerete a hivatkozás miatt*/
img{
 border: none;}
 
/*kis termékképek */
.termek_rovidle_container {
 float: left; 
}

.termek_rovidle_img {
 width: 150px;
 height: 150px;
 line-height: 146px;
 float: left;
 border: 1px solid #ccc;
 text-align: center;
 background: #e2e2e2;
 margin: 0 5px 5px 0;
}

.termek_rovidle_noimg {
display:none;
}

img.rovidle{
vertical-align:middle;
margin-right: -2px;
border:1px solid white;
}

.termek_kis{

}

.termek_kis img, img.termek_kis_rovid{
 vertical-align: text-top;
 float: left;
 margin: 0 5px 3px 3px;;
}
/*kis hírképek */
img.hir{
 vertical-align: text-top;
 float: left;
 margin: 0px 5px 0px 0px;
 border: 1px solid silver;
}
/*kedvencek kép*/
.fav_cart{
float: right;
clear: both;
}

.favorite, .cart{
float: right;
margin: 0 3px 0 0;
outline: none;
}
.favorite a, .cart a{
outline: none;
}

.question{
display: none;
}

.termek_rovid div.fav_cart{
float: right;
margin: 0 5px 0 0;
}


/*menupont tartalom képek divje*/
.menup_kep{
text-align: center;
}

/*menupont tartalom képek*/
.menup_kep img{
max-width: 500px;
}
/*linktár képek*/
.link_kep{
vertical-align: middle;
margin: 0 5px 3px 0;

}
/*termék neve link*/
.termek_link{
 font-family: arial;
 font-size: 13px;
 font-weight : bold;
 text-transform: uppercase;
 background: url('images/alcim_bg.jpg') no-repeat;
 padding: 3px 0 3px 18px;
 display: block;
} 



.termek_link a:hover{
 color: #FFf;
 }
 
.alcim a{
color: #333;
}

a, a.link_bold{
 text-decoration: none;
 color: #333;
 }
 
 a.termek_link:hover{
 color: #017801;
 }
 
 a.button{
	background: url('images/menu2.gif') no-repeat top left !important;
	color: #333 !important;
	text-transform: uppercase;
	vertical-align: middle !important;
	font-size: 11px;
	text-decoration: none;
	outline: none;
	padding:5px 0px 7px 5px;
	height:28px;
	overflow: auto;
 }
 
 a.button:hover{
	background: url('images/menu2.gif') no-repeat bottom left !important;
	color: #fff !important;
 }
 
 a.button span{
 	background: url('images/menu22.gif') no-repeat right top;
	padding: 5px 7px 7px 2px;
	outline: none;
	height:28px;
 }
 
 a.button span:hover{
 	background: url('images/menu22.gif') no-repeat right bottom;
 }
 
 .dokum a.button{
 margin-left: 40px;
 }
 
/*egyéb, nem terméknév link, ami bold*/
a.link_bold{
 font-weight: bold;
}

.hircim_lapozo{
 font-weight: bold;
 font-size: 10pt;
 color: #333;
 text-transform: uppercase;
 line-height: 150%;
}

a:hover, a.link_bold:hover{
 color: #91AA39;
 }
 /*termékcsoport lista*/
 .termcsop_kep{
 vertical-align:middle;
 margin: 0 0 5px 0;
 }
 
 a.almenu{
 color: #333;
 font-size: 10pt;
 font-weight: bold;
 text-transform: uppercase;
 }

span.alcim a:hover{
color: #fff;
 }
 
 /*megjegyzés, bõvebben, cikkszám*/
.megjegyzes{
padding: 5px;
} 
 
.megjegyzes, .forras, .megjegyzes2{
font-size: 9px;
color: #91AA39;
padding: 5px;
}
.megjegyzes2 {
margin: 0 0 0 40px;
}


.cim {
font-size: 14pt;
font-weight: bold;
margin: 0 0 10px 0;
color: #333;
}

.termcsop_nav  {
font-size: 10pt;
font-weight: bold;
margin: 0 0 10px 0;
}

.termcsop_nav  a:hover{
color: #91AA39;
}

.termek_cim{
font-size: 12pt;
font-weight: bold;
border-bottom: 1px solid #017801;
margin: 0 0 5px 5px;
}

.lead{
border-bottom: 1px solid silver;

}
.termekleiras{
padding: 10px;
}

.szoveg_bold{
font-weight: bold;
}

.stat_no{
 font-weight: bold;
 font-size: 12pt;
 background: #fff;
 padding: 3px 10px;
 color: #000;
}



/*kitöltõmezõk*/ 
.general_input, .general_input_part {
 font-family: arial;
 font-size: 9pt;
 border: 1px solid gray;
 border-bottom: 1px solid silver;
 border-right: 1px solid silver;
 background-color: #F2F2F2;
 margin: 0 0 2px 0;
 }
/*submit gombok*/
.general_button{
 font-family: arial;
 font-size: 8pt;
 color: black;
 color: #333
}
.termek_kosar input.general_button{

}
.error_input {
	font-family: arial;
	font-size: 9pt;
	border: 1px solid gray;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	background-color: red;
}

.keszlet {
display: none;
}

.ar {
float: right;
margin: 10px;
border: 1px solid #EBF9D2;
padding: 5px;
font-size: 10pt;
line-height: 200%;
font-weight: bold;
background: #e2e2e2;
clear:both;
}

.ar_n {
color: #333;

}

.ar_b {
color: #333;

}
.szum_ar_n {
color: #333;
}

.szum_ar_b {
color: green;
}

.szum_ar{
background: #ccc;
margin: 0 0 30px 0;
text-align: right;
padding: 2px;
}

table.kalkulator, table.kosaradat{
background: #EBF9D2;
border-collapse: collapse;
margin-left: 40px
}

table.kosaradat{

margin: 40px 0 20px 40px;
}

table.kalkulator td, table.kosaradat td{
border: 1px solid white;
padding: 3px;
}

td.szoveg{
text-align: right;
}

.table{
min-height:500px;
}
.table a{
margin:40px;

}

.termek_galeria {
text-align: center;
width: 100%;
margin: 0 auto;
overflow: auto;
}

.termek_galeria img{
margin: 3px 3px 0 0;
}

.documents, .termektulajdonsag {
padding: 10px;
}

.documents li, .termektulajdonsag li{
list-style-type: none;
}

.blind {
 float:right;
 margin: 6px 0 0 0 ;
}

div.blind img{
}
.blind_c {
 outline: none;
 width: 26px;
 height: 26px;
}

#linkkuldes{
display: none;
}

.error{
color: red;
padding-left: 5px;
}

.question{
display: none;
}

.reklam{
text-align: center;
padding: 0 0 20px 0;
}
.reklam img{
max-width: 155px;
margin: 0 0 10px 0;
}